body {
    margin: 0;
    padding: 0;
    font-family: "Chakra Petch", sans-serif;
}

.clr-fix {
    clear: both;
}

h1,
h5,
h6 {
    margin: 0;
}

img {
    width: 100%;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.888), rgba(0, 0, 0, 0.888)), url("imgs/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.common-header {
    text-align: center;

    h4 {
        font-weight: 700;
        font-size: 16px;
        color: #CBFE1C;
        position: relative;
    }

    h4::before {
        content: '';
        width: 50px;
        height: 2px;
        display: block;
        position: absolute;
        top: 8px;
        left: 42%;
        background-image: linear-gradient(90deg, rgb(0, 0, 0), #CBFE1C 80%);
    }

    h4::after {
        content: '';
        width: 50px;
        height: 2px;
        display: block;
        position: absolute;
        top: 8px;
        right: 42%;
        background-image: linear-gradient(90deg, #CBFE1C 80%, rgb(0, 0, 0));
    }

    h1 {
        font-weight: 700;
        font-size: 48px;
        color: rgb(241, 241, 241);
        font-family: "Days One", sans-serif;
    }

    p {
        font-weight: 400;
        font-size: 20px;
        color: oklch(0.707 0.022 261.325);
    }
}

/* ---------------------------------------nav css------------------------------------------ */
nav {
    background-color: #0B0E13;
}

.navbar {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 1000;

}

.name {
    font-weight: 700;
    font-size: 20px;
    color: #CBFE1C;
    text-decoration: none;
    margin-left: 15px;
}

.container-fluid {
    padding: 0;
}

.nav-ul {
    border-bottom: 1px solid rgba(181, 179, 179, 0.842);
}

.nav-items li {
    font-weight: 400;
    font-size: 16px;
    padding-inline: 10px;
    padding-bottom: 20px;
}

.nav-items a:hover {
    color: #CBFE1C;
}

.nav-items a {
    color: white;
}

.active-home a {
    color: #CBFE1C;
}

.nav-items i {
    color: white;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    padding-block: 10px;
}

.nav-items i:hover {
    color: #CBFE1C;
}

.btn-bg {
    background-color: #CBFE1C;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 16px;
    width: 100%;
}

.btn-bg:hover {
    background-color: #c9fe1cac;
}

.space {
    margin-left: 10px;
}

span {
    margin-left: 10px;
    margin-top: 15px;
    font-weight: 400;
    font-size: 14px;
    font-family: "Chakra Petch", sans-serif;
    color: white;
}

.nav-items span:hover {
    color: #CBFE1C;
}

.bars {
    color: rgb(255, 255, 255);
    margin-right: 10px;
}

.bars:hover {
    color: #CBFE1C;
}

/* ---------------------------------------footer css------------------------------------------ */
#footer {
    background-color: #0B0E13;
    /* margin-top: 100px; */
}

#footer .container {
    padding-block: 70px;
}

.footer-info {
    text-align: left;
    padding-bottom: 20px;
}

.footer-info .name-f {
    font-weight: 700;
    font-size: 20px;
}

.footer-info p {
    font-weight: 400;
    font-size: 16px;
    color: oklch(0.707 0.022 261.325);
    margin-top: 30px;
    margin-bottom: 20px;
}

/* .social {
    margin-right: 10px;
}
.quick-links {
    padding-left: 20px;
    margin-left: 15px;
} */
.quick-links h3 {
    color: white;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
}

.quick-links a {
    color: gray;
    text-decoration: none;
    padding-bottom: 20px;
    display: block;
    font-weight: 400;
    font-size: 16px;
}

.quick-links a:hover {
    color: #CBFE1C;
}

.copy {
    float: left;
    display: inline;
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    color: oklch(0.707 0.022 261.325);
}

.footer-copyrights {
    border-top: 1px solid gainsboro;
    width: 95%;
    padding-bottom: 20px;
}

.footer-copyrights ul {
    display: flex;
    flex-direction: row;
    color: oklch(0.707 0.022 261.325);
    float: right;
    list-style-type: none;
    margin-top: 30px;
}

.footer-copyrights a {
    font-weight: 400;
    font-size: 16px;
    color: oklch(0.707 0.022 261.325);
    margin-right: 10px;
    text-decoration: none;
}

/* ---------------------------------------contact-us css------------------------------------------ */
.contact-us {
    background-color: #0E141F;

    .contact-left {
        color: white;
        width: 100%;
        /* height: 150px; */
        border-radius: 10px;
        background-color: #1E2939;
    }

    .contact-left-last {
        color: white;
        width: 100%;
        height: 200px;
        border-radius: 10px;
        background-image: linear-gradient(90deg, #CBFE1C 30%, rgb(90, 216, 87));
    }

    .form-h1 {
        font-family: "Days One", sans-serif;
    }

    form {
        background-color: #1E2939;
        color: white;
        border-radius: 10px;



        .input-bg {
            background-color: oklch(37.3% .034 259.733);
            border: 1px solid gray;
        }

        .form-check-input[type=checkbox] {
            border-radius: 0;
        }

        .btn-color {
            background-color: #CBFE1C;
            font-weight: 700;
            font-size: 18px;
        }

        .form-label {
            color: oklch(0.872 0.01 258.338);
            font-weight: 700;
            font-size: 14px;
        }

        .form-check-label {
            color: oklch(0.707 0.022 261.325);
            font-weight: 400;
            font-size: 14px;
            padding-left: 3px;
        }

        .form-select {
            color: white;
        }

        ::placeholder {
            color: #929292;
            opacity: 1;
        }
    }


}

/* ---------------------------------------what we do css------------------------------------------ */
.whatWe-do {
    background-color: #0B0E13;
}

.whatWeDo-content {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    /* border: #1E2939 1px solid; */
}

.c1 {
    background-color: #1A1A1A;
    position: relative;
    transition: all 1s;
    width: 290px;
    height: 290px;
    border-radius: 10px;
    border: #1E2939 1px solid;
}

.c1::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    visibility: hidden;
    background-image: linear-gradient(135deg, #CBFE1C 50%, #1A1A1A 50%);
    transition: all 0.1s;
}

.c1::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: block;
    visibility: hidden;
    background-image: linear-gradient(-45deg, #CBFE1C 50%, #1A1A1A 50%);
    transition: all 0.1s;
}

.c1:hover {
    border: #CBFE1C 2px solid;

}

.c1:hover::before {
    top: 10px;
    left: 10px;
    visibility: visible;
}

.c1:hover::after {
    bottom: 10px;
    right: 10px;
    visibility: visible;
}


.whatWeDo-title-i {
    background-color: #1e2939;
    border-radius: 10px;
    color: #CBFE1C;
}

.c1:hover .whatWeDo-title-i {
    background-color: #CBFE1C;
    color: #1e2939;
}

.body::after {
    content: "";
    width: 50%;
    height: 3px;
    position: absolute;
    bottom: -60px;
    right: 25%;
    display: block;
    box-shadow: 0px 0px 30px 1px #CBFE1C;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, #CBFE1C 50%, rgba(0, 0, 0, 1) 100%);


}

/* ---------------------------------------members css------------------------------------------ */
.our-members {
    background-color: #0B0E13;
}
.members-content {
    width: 284px;
    height: 320px;
    border-radius: 10px;

    .m-content {
        top: 70%;

        h1 {
            color: white;
            font-weight: 700;
            font-size: 20px;
            font-family: "Days One", sans-serif;
        }

        h2 {
            color: #cccccc;
            font-weight: 400;
            font-size: 14px;
        }

        h3 {
            color: oklch(0.707 0.022 261.325);
            font-weight: 400;
            font-size: 12px;
        }
    }

    p {
        position: absolute;
        right: -5px;
        top: 80%;
        transform: rotate(90deg);
        color: #cccccc;
        font-weight: 700;
        font-size: 18px;
    }
    .mm {
        top: 75%;
    }
}

.members-content img {
    border-radius: 10px;
}

.m1 {
    background-image: url("imgs/avatar-1.png");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.m::before {
    content: "";
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0px) grayscale(100%) brightness(130%);
    transition: all 0.8s;
}

.m:hover::before {
    top: -100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0px) grayscale(0%);
}

.m:hover {
    h2 {
        color: #CBFE1C;
    }

    p {
        color: #CBFE1C;
    }
}

.m2 {
    background-image: url("imgs/avatar-2.png");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.m3 {
    background-image: url("imgs/avatar-3.png");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.m4 {
    background-image: url("imgs/avatar-4.png");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.m5 {
    background-image: url("imgs/avatar-5.png");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.m6 {
    background-image: url("imgs/avatar-6.png");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.m7 {
    background-image: url("imgs/avatar-7.png");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.m8 {
    background-image: url("imgs/avatar-8.png");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}




/* ---------------------------------------header css------------------------------------------ */
@media screen and (max-width:640px) {
    .members-content {
        width: 100%;
        /* height: 300px; */
        border-radius: 10px;
        margin-bottom: 30px;

    }

    .members-content img {
        width: 100%;
        height: 100%;
    }

    .header-content {
        h1 {
            font-weight: 700;
            font-size: 45px;
            font-family: "Days One", sans-serif;
            color: white;
            text-align: center;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            color: white;
            text-align: center;
        }

        button {
            font-weight: 700;
            font-size: 16px;
            /* margin-left: 55px; */
            width: 100%;
            height: auto;
        }

        .btn1 {
            margin-bottom: 10px;
        }

        .btn2 {
            margin-bottom: 50px;
        }

    }

    .header-img {
        margin-left: 0;
        height: 400px;
        width: 600px;

        img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            border: 5px solid #CBFE1C;
        }

        .hero-img-span {
            border: 1px solid gainsboro;
            border-radius: 10px;
            background-color: #0B0E13;
            display: flex;
            /* justify-content: center; */
            align-items: center;
            text-align: left;
            bottom: -30px;
            left: -30px;
        }

        .hero-img-span-h {
            margin-left: 10px;

            h6 {
                font-weight: 400;
                font-size: 12px;
                color: oklch(0.707 0.022 261.325);
            }

            h4 {
                font-weight: 700;
                font-size: 20px;
                color: white;
            }
        }
    }




}




@media screen and (min-width:640px) and (max-width:1023px) {
    .members-content {
        width: 100%;
        /* height: 300px; */
        border-radius: 10px;
        margin-bottom: 30px;

    }

    .members-content img {
        width: 100%;
        height: 100%;
    }

    .header-content {

        h1 {
            font-weight: 700;
            font-size: 45px;
            font-family: "Days One", sans-serif;
            color: white;
            text-align: center;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            color: white;
            text-align: center;
        }

        button {
            font-weight: 700;
            font-size: 16px;
            margin-bottom: 50px;
            /* width: 100%; */
        }

        .btn1 {
            margin-left: 65px;
        }

    }

    .header-img {
        margin-left: 15px;
        height: 400px;
        width: 600px;

        img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            border: 5px solid #CBFE1C;
        }

        .hero-img-span {
            border: 1px solid gainsboro;
            border-radius: 10px;
            background-color: #0B0E13;
            display: flex;
            /* justify-content: center; */
            align-items: center;
            text-align: left;
            bottom: -30px;
            left: -30px;
        }

        .hero-img-span-h {
            margin-left: 10px;

            h6 {
                font-weight: 400;
                font-size: 12px;
                color: oklch(0.707 0.022 261.325);
            }

            h4 {
                font-weight: 700;
                font-size: 20px;
                color: white;
            }
        }
    }



}




@media screen and (min-width:1024px) {

    .container-fluid {
        width: 80%;
        margin: auto;

    }

    .nav-items i {
        color: white;
        padding-inline: 5px;
        font-size: 18px;
        margin-right: 20px;
    }

    .btn-bg {
        background-color: #CBFE1C;
        color: rgb(0, 0, 0);
        margin-right: 30px;
        font-weight: 700;
        font-size: 16px;
        padding-inline: 20px;
        width: auto;

    }

    span {
        visibility: hidden;
    }

    .nav-ul {
        border-bottom: 0px solid rgba(181, 179, 179, 0.842);
        /* margin-top: 17px; */
        /* padding-top: 10px; */

    }

    .nav-items li {
        font-weight: 400;
        font-size: 16px;
        padding-inline: 10px;
        /* padding-bottom: 20px; */
    }

    #footer {
        background-color: #0B0E13;
        /* margin-top: 100px; */
    }

    #footer .container {
        padding-block: 70px;
        margin: auto;
        width: 90%;
    }

    .f {
        float: left;
    }

    .footer-info {
        width: 25%;
        text-align: left;
        padding-bottom: 20px;
        margin-left: 10px;
        margin-right: 15px;
    }

    .footer-info .name-f {

        font-weight: 700;
        font-size: 20px;
    }

    .footer-info p {
        font-weight: 400;
        font-size: 16px;
        color: oklch(0.707 0.022 261.325);
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .social {
        margin-right: 10px;
    }

    .quick-links {
        width: 20%;
        padding-left: 20px;
        margin-left: 15px;
    }

    .quick-links h3 {
        color: white;
        padding-bottom: 20px;
        font-weight: 700;
        font-size: 20px;
    }

    .quick-links a {
        color: gray;
        text-decoration: none;
        padding-bottom: 20px;
        display: block;
        font-weight: 400;
        font-size: 16px;
    }

    .quick-links a:hover {
        color: #CBFE1C;
    }

    .copy {
        float: left;
        display: inline;
        margin-top: 30px;
        font-weight: 400;
        font-size: 16px;
        color: oklch(0.707 0.022 261.325);
    }

    .footer-copyrights {
        border-top: 1px solid gainsboro;
        width: 95%;
        padding-bottom: 20px;
    }

    .footer-copyrights ul {
        display: flex;
        flex-direction: row;
        color: oklch(0.707 0.022 261.325);
        float: right;
        list-style-type: none;
        margin-top: 30px;
    }

    .footer-copyrights a {
        font-weight: 400;
        font-size: 16px;
        color: oklch(0.707 0.022 261.325);
        margin-right: 10px;
        text-decoration: none;
    }

    .header-content {
        h1 {
            font-weight: 700;
            font-size: 60px;
            font-family: "Days One", sans-serif;
            color: white;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            color: white;
        }

        button {
            font-weight: 700;
            font-size: 16px;
        }

    }

    .header-img {
        height: 400px;
        width: 600px;

        img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            border: 5px solid #CBFE1C;
        }

        .hero-img-span {
            border: 1px solid gainsboro;
            border-radius: 10px;
            background-color: #0B0E13;
            display: flex;
            /* justify-content: center; */
            align-items: center;
            text-align: left;
            bottom: -30px;
            left: -30px;
        }

        .hero-img-span-h {
            margin-left: 10px;

            h6 {
                font-weight: 400;
                font-size: 12px;
                color: oklch(0.707 0.022 261.325);
            }

            h4 {
                font-weight: 700;
                font-size: 20px;
                color: white;
            }
        }
    }
}